.baila__masthead {
  grid-column: 1/-1;
  .baila__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    .video-overlay {
      width: 100%;
      height: 100%;
      background: hsla(0, 0%, 0%, 25%);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      button {
        background: none;
        border: none;
      }
      a img {
        height: 4rem;
        width: 4rem;
      }
    }
    img {
      width: 100%;
      height: auto;
      max-height: 325px;
      object-fit: cover;
      object-position: top;
    }
  }
  @media (min-width: 1024px) {
    height: 450px;
    .baila__cta {
      img {
        object-fit: cover;
        object-position: top;
        height: 450px;
        max-height: 450px;
      }
    }
  }
}

.grid__baila {
  margin-bottom: 5rem;
  &--full-width {
    margin: 0 0 5rem 0;
    max-width: 100%;
    padding: 0;
    @media (min-width: 1024px) {
      margin: 0 0 5rem 0;
    }
  }
}

.baila__history {
  grid-column: 1/-1;
  h1 {
    font-size: $h2;
  }
  p {
    max-width: 65ch;
  }
  p.subtitle {
    color: $white;
  }
  @media (min-width: 1024px) {
    grid-column: 2/-2;
    h1 {
      font-size: $h1;
    }
    p {
      font-size: 1.125rem;
    }
  }
  @media (min-width: 1200px) {
    grid-column: 3/-3;
  }
}

.baila__guest-artists {
  grid-column: 1/-1;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 4rem;
  @media (min-width: 1024px) {
    grid-column: 2/-2;
  }
}

.guest-artist {
  position: relative;
  flex-basis: 100%;
  height: 325px;
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to top,
      #18181b99,
      #2020224d,
      #2827294d,
      #30303033,
      #38383833
    );
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (min-width: 768px) {
    height: 450px;
    flex-basis: calc(50% - 0.5rem);
  }
}

.overlay__content {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  p {
    margin: 0;
    line-height: 1.2;
  }
  .content__country {
    color: $primary;
    font-size: 1rem;
  }
  .content__names {
    font-size: 1.5rem;
    font-family: $title-font;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
  }
  .content__years {
    font-size: 1rem;
    font-weight: bold;
    color: white;
  }
}
