.header {
  background: $background;
  @media (min-width: 1200px) {
    display: block;
    height: 100vh;
    width: 18rem;
    border-right: 2px solid hsla(0, 0%, 20%, 0.75);
    padding: 2rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }
}

.desktop-nav {
  display: none;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .logo {
    text-align: center;
    span {
      font-weight: bold;
      color: white;
      font-size: 1.125rem;
    }
    img {
      width: 100%;
    }
  }
  .social {
    list-style-type: none;
    display: flex;
    justify-content: center;
    li:not(:last-of-type) {
      margin-right: 0.5rem;
    }
  }
  .menu {
    list-style-type: none;
    text-align: center;
    li {
      text-transform: uppercase;
      margin: 0.8rem 0;
      a {
        letter-spacing: 1px;
        font-family: $body-font;
        color: $body;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
        &:hover {
          color: $primary;
        }
      }
    }
  }
  @media (min-width: 1200px) {
    display: flex;
  }
}

.mobile-nav {
  display: block;
  position: fixed;
  background: $background;
  width: 100%;
  padding: 1rem;
  z-index: 1000;
  border-right: 2px solid hsla(0, 0%, 20%, 0.75);
  border-left: 2px solid hsla(0, 0%, 20%, 0.75);
  border-bottom: 2px solid hsla(0, 0%, 20%, 0.75);
  top: 0;
  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    img {
      height: 2rem;
    }
  }
  &__hamburger {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    z-index: 500;
  }
  &__menu {
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    background: hsl(240, 5%, 18%);
    width: 85%;
    height: 101vh;
    left: -2px;
    top: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    transform: translate(-100%, 0);
    transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
    ul {
      list-style-type: none;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      li {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
        a {
          color: $body;
          text-decoration: none;
        }
      }
    }
    &--active {
      transform: translate(0, 0);
      box-shadow: -10px 0 20px rgba(0, 0, 0, 0.15);
    }
  }
  .menu-item {
    transform: translate(-200%, 0);
    transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition-delay: 0.1s;
    &.animated {
      transform: translate(0, 0);
    }
  }
  @media (min-width: 1200px) {
    display: none;
  }
}
