.dance-text {
  position: fixed;
  z-index: -1;
  top: 0rem;
  left: 25%;
  span {
    color: hsla(0, 0%, 20%, 33%);
    font-size: 5rem;
    text-transform: uppercase;
    font-family: "Abril Fatface";
    font-weight: bold;
    letter-spacing: 0.25rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
  }
  @media (min-width: 768px) {
    left: 45%;
    top: -3rem;
    span {
      font-size: 8rem;
    }
  }
  @media (min-width: 1200px) {
    top: -150px;
    left: 55%;
    span {
      font-size: 360px;
      letter-spacing: 1.5rem;
    }
  }
}

.filigree {
  position: fixed;
  left: -120%;
  top: 33%;
  z-index: -1;
  @media (min-width: 768px) {
    left: -45%;
    top: 50%;
  }
  @media (min-width: 1200px) {
    top: 50%;
    left: 0;
  }
}

.highlight {
  color: $primary;
}
