.shtf {
  position: sticky;
  top: 54px;
  left: 0;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary;
  color: $background;
  padding: 1rem;
  gap: 1rem;
  .message {
    margin-bottom: 0;
    line-height: normal;
    margin-left: auto;
  }
  .close-button {
    display: block;
    margin-left: auto;
    cursor: pointer;
    img {
      height: 1rem;
      width: 1rem;
    }
  }
  @media (min-width: 1200px) {
    top: 0;
  }
}
