*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 2px dotted $primary;
}

html {
  background: $background;
}

body {
  a {
    color: $primary;
  }
}
